<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Enumerable Planets</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>

</head>
<body>
<h1>Pick a planet:</h1>
<!--<ol>-->
<!--    <li th:text="${planets}">weird</li>-->
<!--    <th:block th:each="planet : ${planets}">-->
<!--        <li th:text="${planet.name}"></li>-->
<!--        <li>Weird</li>-->
<!--    </th:block>-->
<!--</ol>-->
<table class="table table-striped">
    <thead>
    <tr>
        <th>Planet Name</th>
        <th> Year Length (in Earth days)</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="planet : ${planets}">
        <tr>
            <td th:text="${planet.name}"></td>
            <td th:text="${planet.yearLength}"></td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>